@font-face {
    font-family: Charlie;
    src: url("font/checkpointcharlie.ttf");
}
@font-face {
    font-family: Stamp;
    src: url("font/oldstamper.ttf");
}
@font-face {
    font-family: Typewritter;
    src: url("font/typewritter.ttf");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    user-select: none;
	color: white;
	font-family: "Verdana","sans-serif";
}
body {
	width: 100vw;
	height: 100vh;
	overflow: clip;
	background-color: black;
}
#menu_video {
    position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.overlay {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	opacity: 0.9;
}
.content {
    position: absolute;
    width: 100%;
	height: 100%;    
}
h1, h2, h3 {
    font-family: "Charlie";
    color: white;
    text-transform: capitalize;
}
h1 {
    font-size: 400%;
}
.menu .button {
    text-align: center;
	font-size: 300%;
	padding: 20px;  
}
.button { 
	color: white;
	text-decoration: none;
	display: block;
    font-family: "Stamp";
    transition-property: color;
    transition-duration: 500ms;
    width: max-content;
}
.toright {
    text-align: right;
	width: 100%;
}
.menu {
	margin-top: 10%;
	margin-left: 21%;
    width: max-content;
}
.button:hover {
	color: #998570bb;
    cursor: pointer;
}
.settings {
	display: grid;
}
.popup {
	width: 50%;
	height: max-content;
	background: #000000f7;
	position: absolute;
	left: 25%;
	top: 25%;
	padding: 35px;
	border-radius: 7px;
}
.halfsplitter {
    display: grid;
    grid-template-columns: 50% 50%;
}
.fillsplitter {
    display: grid;
    grid-template-columns: auto max-content;
}
input {
    margin: 15px;
}
.hidden {
	display: none;
}
.unit {
	background: #404040;
	display: block;
	border: 3px #222 solid;
	margin: 1px;
	transition-property: background-color;
	transition-duration: 500ms;
	max-width: 74px;
}
.unit img {
	width: 100%;
	height: 100%;
}
.unit:hover {
	background-color: rgb(95, 95, 0);
	cursor: pointer;
}
#buildingMenu {
	display: grid;
	grid-row: 2;
	grid-column: 2;
	grid-template-columns: auto auto auto;
	width: max-content;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.1);
	border: solid 5px #3e3e3e;
	border-top: 0px;
	height: max-content;
}
.genericMenu {
	width: max-content;
	height: max-content;
	display: flex;
}
#mapContainer {
	margin: 0 auto;
	display: block;
	height: 100%;
	width: 100%;
	/* background-image: url("img/map.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; */
}
.mainUI {
	display: grid;
	grid-template-columns: 15% 70% 15%;
	grid-template-rows: 80vh 20vh;
}
#resources {
	background-image: url("img/ui/metal.jpg");
	border: 5px #3e3e3e solid;
	height: 100%;
	background-size: cover;
	border-right: 0px;
}
.resource {
	display: grid;
	grid-template-columns: 80% auto;
	padding: 10px;
}
.fader {
	opacity: 0;
	background: black;
	position: absolute;
	width: 100vw;
	height: 100vh;
	transition-property: opacity;
	transition-duration: 1s;
}
#queue {
	background-image: url("img/ui/metal.jpg");
	border: 5px solid #3e3e3e;
	width: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
	max-height: 100%;
	border-left: 0px;
	background-size: cover;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
#queue::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#queue progress {
	position: absolute;
	height: 100%;
	width: 100%;
}
body {
	animation: fadeIn 1s linear;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.queueSlot {
	width: 100%;
	height: 100px;
	position: relative;
	display: block;
}
.queueSlot video {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
progress::-webkit-progress-bar {
	background-color: rgb(26, 26, 26); 
	width: 100%;
}
progress {
	background-color: rgb(26, 26, 26);
	height: 100%;
	border: 0px;
}

/* value: */
progress::-webkit-progress-value {
	background-color: #263323 !important;
}
progress::-moz-progress-bar {
	background-color: #263323 !important;
}
progress {
	color: green;
}
path:hover {
	fill: #ffef0063;
	cursor: pointer;
}
svg {
	display: block;
	height: 100%;
	margin: 0 auto;
}
svg {
	display: block;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	background: rgb(234,214,187);
	background: radial-gradient(circle, rgb(234, 214, 187) 0%, rgb(40, 38, 35) 65%, rgb(0, 0, 0) 85%);
	border: solid 5px #3e3e3e;
}
path {
	fill: #00000024;
}
.separator {
	background: #3e3e3e;
	width: 60px;
}
.playerCountry {
	fill: #0080005c;
}
#eWindow {
	display: none;
	width: 510px;
	height: max-content;
	background-image: url("https://img.freepik.com/free-photo/old-paper-texture-vintage-paper-background_262663-432.jpg?size=626&ext=jpg");
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	border: solid 2px #404040;
	background-size: cover;
	padding: 10px;
	grid-template-rows: max-content max-content max-content;
}
#eChoiceList {
	display: grid;
	height: max-content;
}
#eChoiceList button {
	color: black;
	padding: 4px;
	border-radius: 0;
	border: 0;
	margin: 1px;
	background: #ffffff61;
}
#eChoiceList button:hover {
	background: white;
	cursor: pointer;
}
#eWindow * {
	font-family: "Typewritter";
	color: black;
	font-size: 30px;
}

.enemy {
	fill: #a6000063;
}

@media screen and (max-width: 1500px) {
	.mainUI {
		grid-template-columns: 20% 65% 15%;
	}
}