@font-face {
    font-family: Charlie;
    src: url("font/checkpointcharlie.ttf");
}
@font-face {
    font-family: Stamp;
    src: url("font/oldstamper.ttf");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    user-select: none;
}
body {
	width: 100vw;
	height: 100vh;
	overflow: clip;
	background-color: black;
}
#menu_video {
    position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.overlay {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	opacity: 0.9;
}
.content {
    position: absolute;
    width: 100%;
	height: 100%;    
}
h1, h2, h3 {
    font-family: "Charlie";
    color: white;
    text-transform: capitalize;
}
h1 {
    font-size: 400%;
}
.menu .button {
    text-align: center;
	font-size: 300%;
	padding: 20px;  
}
.button { 
	color: white;
	text-decoration: none;
	display: block;
    font-family: "Stamp";
    transition-property: color;
    transition-duration: 500ms;
    width: max-content;
}
.toright {
    text-align: right;
}
.menu {
	margin-top: 10%;
	margin-left: 21%;
    width: max-content;
}
.button:hover {
	color: #998570bb;
    cursor: pointer;
}
.settings {
	display: grid;
	width: 50%;
	height: max-content;
	background: #000000f7;
	position: absolute;
	left: 25%;
	top: 25%;
	padding: 35px;
	border-radius: 7px;
}
.halfsplitter {
    display: grid;
    grid-template-columns: 50% 50%;
}
.fillsplitter {
    display: grid;
    grid-template-columns: auto max-content;
}
input {
    margin: 15px;
}
.hidden {
	display: none;
}
.unit {
	background: #084008;
	display: block;
	border: 3px #002a00 solid;
	box-sizing: content-box;
	width: 70px;
	height: 70px;
	margin: 1px;
	transition-property: background-color;
	transition-duration: 500ms;
}
.trainingMenu {
	display: grid;
	grid-template-columns: auto auto auto;
	width: max-content;
}
.unit img {
	width: 70px;
	height: 70px;
}
.unit:hover {
	background-color: rgb(95, 95, 0);
	cursor: pointer;
}
#trainingMenu {
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: max-content;
	margin: 0 auto;
}